<h2 class="text-center mt-4 mb-4">To Do</h2>
<div>
    <% if @tasks.empty? %>
        <p class="text-center mt-4">No tasks to display.</p>
    <% else %>
        <table class="w-50 mx-auto">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Done</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <% @tasks.each do |task| %>
                <% if !task.completed %>
                    <tr>
                        <td><%= task.title %></td>
                        <td><%= task.completed ? "âœ…" : "ðŸ“" %></td>
                        <td><%= link_to task.completed ? "Mark incomplete" : "Mark complete",
                                task_path(task, {completed: !task.completed}),
                                method: :patch,
                                data: { turbo_method: :patch}%>
                        </td>
                        <td>
                            <% if !task.completed && task.day_id != @today.id%>
                                <%= link_to "Move to today",
                                    task_path(task, {day_id: @today.id}),
                                    method: :patch,
                                    data: { turbo_method: :patch}%>
                            <%end%>
                        </td>
                        <td><%= link_to "Delete", task_path(task), data: { turbo_method: :delete} %></td>
                    </tr>
                <% end %>
            <% end %>
        </table>
    <% end %>
    <div class="text-center mt-4 mb-5">
    <%= form_with model: @task, local: true do |form| %>
        <%= form.hidden_field :day_id, value: @today.id %>
        <%= form.hidden_field :work, value: true %>
        <p>
            <%= form.label :new_task %><br/>
            <%= form.text_field :title %>
        </p>

        <p>
            <%= form.submit %>
        </p>
    <% end %>
    </div>
    <h2 class="text-center mt-5 mb-4">Completed</h2>
    <table class="w-50 mx-auto mb-5">
    <thead>
        <tr>
            <th>Task</th>
            <th>Done</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <% @tasks.each do |task| %>
        <% if task.completed %>
            <tr>
                <td><%= task.title %></td>
                <td><%= task.completed ? "âœ…" : "ðŸ“" %></td>
                <td><%= link_to task.completed ? "Mark incomplete" : "Mark complete",
                        task_path(task, {completed: !task.completed}),
                        method: :patch,
                        data: { turbo_method: :patch}%>
                </td>
                <td>
                    <% if !task.completed && task.day_id != @today.id%>
                        <%= link_to "Move to today",
                            task_path(task, {day_id: @today.id}),
                            method: :patch,
                            data: { turbo_method: :patch}%>
                    <%end%>
                </td>
                <td><%= link_to "Delete", task_path(task), data: { turbo_method: :delete} %></td>
            </tr>
        <% end %>
    <% end %>
</table>
</div>