<h1 class="text-center mt-4"><%=@day.date == @today.date ? "Today" : @day.date.strftime("%a, %B %-d") %></h1>
<div>
    <% if @tasks.empty? %>
        <p class="mt-4 text-center">No tasks to display.</p>
    <% else %>
        <table class="w-50 mx-auto">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Done</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
        <% @tasks.each do |task| %>
                <tr>
                    <td><%= task.title %></td>
                    <td><%= task.completed ? "âœ…" : "ðŸ“" %></td>
                    <td><%= link_to task.completed ? "Mark incomplete" : "Mark complete",
                            task_path(task, {completed: !task.completed}),
                            method: :patch,
                            data: { turbo_method: :patch}%>
                    </td>
                    <td>
                        <% if !task.completed && task.day_id != @today.id%>
                            <%= link_to "Move to today",
                                task_path(task, {day_id: @today.id}),
                                method: :patch,
                                data: { turbo_method: :patch}%>
                        <%end%>
                    </td>
                    <td><%= link_to "Delete", task_path(task), data: { turbo_method: :delete} %></td>
                </tr>
            <% end %>
        </table>
    <% end %>
    <div class="text-center mt-5">
    <%= form_with model: @task, local: true do |form| %>
        <%= form.hidden_field :day_id, value: @day.id %>
        <p>
            <%= form.label :new_task %><br/>
            <%= form.text_field :title %>
        </p>

        <p>
            <%= form.submit %>
        </p>
    <% end %>
    </div>
</div>