<h1 class="text-center mt-4 mb-4"><%=@email_group.name%></h1>
<div class="text-center mb-4">Created by: <%= @email_group.creator.username %></div>
<div class="align-items-center d-flex">
    <div class="col-8 mx-auto">
        <%= form_with(model: @email_group) do |f|%>
                <div class="form-group row mb-3">
                    <%= f.label :frequency, class: "form-label" %>
                    <%= f.select :frequency, ["Daily", "Weekly", "Monthly"], class: "form-control" %>
                </div>
                <div class="form-group row mb-3">
                    <%= f.label :time_of_day, class: "form-label" %>
                    <%= f.time_field :time_of_day, class: "form-control" %>
                </div>
                <div class="form-group row mb-4">
                    <%= f.label :body, class: "form-label" %>
                    <%= f.text_area :body, class: "form-control", rows: 12 %>
                </div>
                <div class="form-group row mb-4">
                    <%= f.submit "Save changes" %>
                </div>
        <% end %>
        <td><%= link_to "Back", email_groups_path, class: "me-4"%></td>
        <% if UsersEmailGroup.find_by(email_group_id: @email_group.id, user_id: current_user.id) %>
            <td><%= link_to "Unsubscribe", unsubscribe_email_group_path(@email_group.id, user_id: current_user.id), data: {turbo_method: :delete} %></td>
        <% else %>
            <td><%= link_to "Subscribe", subscribe_email_group_path(@email_group.id, user_id: current_user.id), data: {turbo_method: :post} %></td>
        <% end %>
        <% if @email_group.creator.username == current_user.username %>
            <%= link_to "Delete", @email_group, data: {turbo_method: :delete}, class: "ms-4" %>
        <% end %>
    </div>
</div>